.header {
    background-color: skyblue;
    padding: 10px;
    height: 50px;
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    line-height: 20px;

}

.footer {
    background-color: skyblue;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

